{% extends "base.html" %}

{% block title %}Thanks{% endblock %}

{% block content %}
<p>Thanks for contacting. We will get touch with you as soon as possible</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A totam explicabo eos dicta, alias repudiandae animi! Totam, veniam itaque tempora atque doloremque quas necessitatibus quam incidunt minus neque quod distinctio.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero magni id assumenda quasi officiis molestias maiores quos recusandae cum. Repellat doloribus voluptatum error tenetur perspiciatis. Rem tempora officia suscipit!</p>
{% endblock %}